 {% include 'backend/header.html' %}
   {% include 'backend/sidebar.html' %}


 {% load static %}
 <style>
    .success-message {
        color: green;
        font-weight: bold;
        border: 1px solid green;
        padding: 10px;
        margin: 10px 0;
        background-color: #dff0d8; /* Optional background color */
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
   <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Edit Installation Benifit</h3>
                    </div>
                    <br>
                    <div class="card-body">
                    {% if sel_proform %}
                        <form method="POST" enctype="multipart/form-data" action="{%url 'update_installation_benefit' sel_proform.id%}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="title">Installation Benifit:</label>
                                    <input type="text" id="title" value="{{sel_proform.price}}" name="price" maxlength="255" required class="form-control">
                                </div>
                                <div class="mt-4 col-lg-6">
                                <button type="submit" class="btn btn-primary">Edit</button>
                                <a href="{% url 'installation_benefit_list' %}" class="btn btn-danger">Back</a>
                            </div>
                            </div>





                        </form>
{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



    <!-- /.content -->
  </div>


    <!-- Main conten
{% include 'backend/footer.html' %}

  <!-- /.navbar -->
