

  <!-- /.navbar -->
 {% include 'backend/header.html' %}
   {% include 'backend/sidebar.html' %}


 {% load static %}
 <style>
    .success-message {
        color: green;
        font-weight: bold;
        border: 1px solid green;
        padding: 10px;
        margin: 10px 0;
        background-color: #dff0d8; /* Optional background color */
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
   <section class="content">
    <div class="container-fluid">
        <div class="row">
            {% if message %}
    <ul class="messages">
            <p  class="alert-danger">{{ message }}</p>
    </ul>
{% endif %}
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Edit Inventory</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'update_stock' item.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="title">Present Stock:</label>
                                    <input type="text" id="title"  value="{{ item.openingstock }}"name="title" maxlength="255" readonly class="form-control">
                                </div>
                                <div class="col-lg-6">
                                    <label for="description">Add Stock:</label>
                                    <input type="text" id="description"  value="" name="openingstock" required class="form-control">
                                </div>
                            </div>

                            <div class="mt-4">
                                <button type="submit" class="btn btn-primary">Update Item</button>
                                <a href="{% url 'stock' %}" class="btn btn-danger">Back</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



    <!-- /.content -->
  </div>


    <!-- Main conten
{% include 'backend/footer.html' %}

