 {% include 'backend/header.html' %}
   {% include 'backend/sidebar.html' %}


 {% load static %}
  <!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><?= $page_title;?></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><?= $page_title;?></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

      <div class="container-xl">

    <div class="table-responsive">
        <div class="table-wrapper">
             <div class="col-12 ">
                <a href="{%  url 'add_influencer' %}"><button class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add  </button></a>

              </div>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Influencer <b>Details</b></h2></div>

                </div>
            </div>

            <table id="example1" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Sl No</th>
            <th>Influencer Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Commission</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for i in influencers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>influencer_0{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.type }}</td>
                <td>{{ i.commission }}</td>
                <td>
                    {% if i.status %}
                        <a href="{% url 'deactivate_influencer' i.id %}" class="btn btn-danger text-white">Deactivate</a>
                    {% else %}
                        <a href="{% url 'activate_influencer' i.id %}" class="btn btn-success text-white">Activate</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'view_influencer' i.id %}" class="view" title="View" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                    <a href="{% url 'edit_influencer' i.id %}" class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                    <a href="{% url 'delete_influencer' i.id %}" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


        </div>
    </div>
</div>
    <!-- /.content-header -->

    <!-- Main content -->

      <!-- /.content -->
  </div>
{% include 'backend/footer.html' %}

  <!-- /.navbar -->
