{% include 'backend/header.html' %}
{% include 'backend/sidebar.html' %}

{% load static %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Installation Benefits</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Installation Benefits</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Installation Benefits</h3>
                            <div class="card-tools">
                                <a href="{% url 'add_installation_benefit' %}" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add Installation Benefit</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>
                                            <a href="{% url 'update_installation_benefit' item.id %}" class="btn btn-primary btn-sm">Edit</a>

                                           <a href="{% url 'delete_installation_benefit' item.id %}" class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'backend/footer.html' %}
