 {% include 'backend/header.html' %}
   {% include 'backend/sidebar.html' %}


 {% load static %}
  <!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><?= $page_title;?></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><?= $page_title;?></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

       <div class="container-fluid">

    <div class="">
        <div class="table-wrapper">
             <div class="col-12 ">
                <a href="{%  url 'productadd' %}"><button class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add  </button></a>

              </div>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Product <b>Details</b></h2></div>

                </div>
            </div>

            <table id="example1" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Product Id</th>
                        <th>Product Name </th>
                        <th>Product Image</th>
                        <th>Catagory Type</th>
                      <th>Product Price</th>
                      <th>Product Description</th>

                        <th>Status</th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in banform %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td> {% if i.image %}
        <img src="{{ i.image.url }}" alt="Image" width="100"
     height="70">
    {% else %}
        <p>No image found.</p>
    {% endif %}</td>
                        <td>{{i.cat_name}}</td>
                      <td>{{i.price}}</td>
                      <td>{{i.description}}</td>
                        <td>{% if i.status %}
               <a href="{% url 'productapp/deactivate_product' i.id %}" class="btn btn-danger text-white">Deactivate</a>
            {% else %}
               <a href="{% url 'productapp/activate_product' i.id %}" class="btn btn-success text-white">Activate</a>
            {% endif %}</td>

                        <td>

                            <a href="{% url 'view_item' i.id %}" class="view" title="View" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'edit_item' i.id %}" class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'delete_item' i.id %}" ><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}



                </tbody>
            </table>

        </div>
    </div>
</div>
    <!-- /.content-header -->

    <!-- Main content -->

      <!-- /.content -->
  </div>
{% include 'backend/footer.html' %}

  <!-- /.navbar -->
