{% include 'backend/header.html' %}
{% include 'backend/sidebar.html' %}

{% load static %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Purchase Benefit Management</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <!-- Breadcrumb can be added here if needed -->
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="container-fluid">
        <div class="">
            <div class="table-wrapper">
                <div class="col-12">
                    <a href="{% url 'add_purchase_benefit' %}">
                        <button class="btn btn-success btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </a>
                </div>
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Purchase Benefit <b>Table</b></h2>
                        </div>
                    </div>
                </div>

                <table id="example1" class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Price</th>
                            <th>Benefit Percentage</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for benefit in benefits %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ benefit.price }}</td>
                            <td>{{ benefit.benefit_percentage }}%</td>
                            <td>
                                {% if benefit.status == '1' %}
                                <a href="{% url 'deactivate_purchase_benefit' benefit.id %}" class="btn btn-danger text-white">Deactivate</a>
                                {% else %}
                                <a href="{% url 'activate_purchase_benefit' benefit.id %}" class="btn btn-success text-white">Activate</a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'edit_purchase_benefit' benefit.id %}" class="edit" title="Edit" data-toggle="tooltip">
                                    <i style="color: #ff9900;" class="fa fa-edit"></i>
                                </a>
                                <a href="{% url 'view_purchase_benefit' benefit.id %}" class="view" title="View" data-toggle="tooltip">
                                    <i style="color: #ff9900;" class="fa fa-eye"></i>
                                </a>
                                <a href="{% url 'delete_purchase_benefit' benefit.id %}">
                                    <i style="color: #ff9900;" class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include 'backend/footer.html' %}
